.grid {
    width: 500px;
    height: 600px;
    background-image: url('background.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgb(219, 52, 52); */
    font-size: 100px;
    text-align: center;
  }
  
  .natarov {
      
    width: 150px;
    height: 350px;
    background-image: url('doodler-guy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
  }
  
  .platform {
    width: 95px;
    height: 15px;
    background-image: url('platform.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
  }
  